@import "tailwindcss";

@theme {
    --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
    --font-serif: var(--font-ahsing), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --color-pink-50: #fff1f2;
    --color-pink-100: #ffe4e6;
    --color-pink-200: #fecdd3;
    --color-pink-900: #881337;
}